{% extends 'base.html' %}

{% block content %}
<main>

    <section id="products">
        <div class="product-list">
            {% for obj in products %}
            <div class="product-item">
    
                <img src="{{ obj.image.url }}" alt="{{ obj.name }}" style="max-width: 100%; height: auto;">
                <br><br>
                <h3>{{ obj.name }}</h3>
                <p>₹ {{ obj.price }}</p>
                {% if user.is_authenticated %}
                <a href="{% url 'add_to_cart' obj.id %}" class="btn btn-outline-dark add-to-cart">
                    Add to Cart
                </a>
                {% else %}
                <a href="{% url 'user_login' %}" class="btn btn-outline-dark add-to-cart">
                    Add to Cart
                </a>
                {% endif %}
                <a href="{% url 'cart_detail' obj.id %}" class="btn btn-outline-dark">
                    View
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Modal -->
   

</main>



{% endblock %}
